<html>
    <!-- https://static-simple.herokuapp.com/ -->
    <head>
        <meta name="apple-itunes-app" content="app-id=1053459393, affiliate-data=app-link, app-argument=wowbox://api/cards/21910/details">
        <meta property="al:web:should_fallback" content="false" />
        <meta property="al:android:url" content="wowbox://api/cards/21910/details" />
        <meta property="al:android:app_name" content="Wowbox" />
        <meta property="al:android:package" content="com.telenor.ads" />
        <meta property="al:ios:url" content="wowbox://api/cards/21910/details" />
        <meta property="al:ios:app_store_id" content="1053459393" />
        <meta property="al:ios:app_name" content="Wowbox" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="WowBox title" />
        <meta property="og:description"  content="desc" />
        <meta property="og:image"        content="https://app.wowbox.telenor.io/content/card-images/6a8130f046ab85660efcf43f5431de1762e2bea9" />
        <meta property="og:url" content="https://api.wowbox.telenor.io/api/cards/21910/details">
    </head>
    <body>
        <script></script>
        <a href="wowbox://page/Store">page/Store</a>
        <a href="wowbox://page/Entertainment">page/Entertainment</a>
        <a href="wowbox://page/Store">page/Store</a>
        
    </body>

</html>